body {
    font-family: 'Playfair Display', serif; /* Elegante para um convite */
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante altura mínima da página */
    color: #FFFFFF;
}

.container {
    background-image: url('bg-convite.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    transition: transform 0.3s ease, height 0.3s ease; /* Animação ao expandir */
    margin: 0 auto;
    color: #FFFFFF;
}

.overlay-text {
    position: relative;
    display: inline-block; /* Ajusta o tamanho exato ao texto */
    padding: 10px 20px; /* Adiciona espaço interno */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo branco semi-transparente */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(240, 240, 240, 0.1));
    border-radius: 8px; /* Cantos arredondados para suavidade */
    color: #354D35; /* Ou um tom mais escuro para contraste */
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    text-align: center;
}

h1, h2 {
    color: #D4AF37; /* Dourado claro */
    font-family: 'EB Garamond', serif; /* Elegante */
}

.container h1 {
    font-size: 60px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'EB Garamond', serif;
}

.container p {
    font-size: 20px;
}

p {
    color: #8AA88A; /* Cinza claro */
    font-family: 'EB Garamond', serif;
}

#countdown {
    margin-top: 20px;
}

#countdown h2 {
    font-size: 1.2rem;
    color: #354D35;
}

#timer {
    font-size: 3rem;
    font-weight: bold;
    color: #D4AF37; /* Texto branco */
    font-family: 'EB Garamond', serif;
}

#appointment-form h2 {
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: left;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #D4AF37; /* Texto branco */
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #D4AF37; /* Borda dourada */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFFFFF; /* Fundo branco */
    color: #354D35; /* Texto verde escuro */
    font-family: 'Roboto', sans-serif;
}

form button, .btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #354D35; /* Verde escuro */
    color: #FFFFFF; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

form button{
    margin: 15px auto; /* Margem automática para centralização horizontal */
    display: block; /* Garante que o botão seja tratado como um bloco */
    padding: 10px 20px;
    background-color: #354D35;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center; /* Apenas para o texto no botão */
}

#playlist {
    margin-top: 20px;
}

#playlist h2 {
    font-size: 1.2rem;
    color: #D4AF37; /* Dourado claro */
}

.footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #354D35;
    font-family: 'EB Garamond', serif;
}

iframe {
    width: 100%;
    height: 380px; /* Garante que o iframe não exceda o espaço */
    border: none;
}

.hidden {
    display: none; /* Esconde conteúdo adicional por padrão */
}

body.expanded {
    align-items: flex-start; /* Move para o topo quando expandido */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Posição inicial */
    }
    50% {
        transform: translateY(-5px); /* Eleva um pouco */
    }
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #354D35;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    animation: bounce 1.5s infinite; /* Animação contínua */
    transition: background-color 0.3s ease; /* Suaviza a mudança de cor no hover */
}

.btn:hover {
    background-color: #0a643a;
    animation: none; /* Para a animação ao passar o mouse */
}

